<main class="home">
<div class="subTitle">
    <h1> Vista de Productos</h1>

<form class="inputLimit" action="/" method="get">
    <label for="limit">Cantidad de productos a visualizar:</label>
    <input type="number" id="limit" name="limit" min="1" max="100" />

    <label for="sort">Ordenar por precio:</label>
    <select id="sort" name="sort">
        <option value="asc">Ascendente</option>
        <option value="desc">Descendente</option>
    </select>

    <label for="title">Buscar por título:</label>
    <input type="text" id="title" name="title" />

    <button type="submit">Consultar</button>
</div>
</form>

<div class="card-container">
    {{#if products.length}}
    {{#each products}}
    <div class="card">        
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <div><p>${{this.price}} - Stock: {{this.stock}}</p></div>
    </div>
    {{/each}}
    {{else}}
    <h2>No hay productos para mostrar!</h2>
{{/if}}
</div>

<div class="paginas">
    {{#if hasPrevPage}}
        <a class="btn" href="{{prevLink}}">⏪</a>
    {{/if}}
    <span>Página {{page}}</span>
    {{#if hasNextPage}}
        <a class="btn" href="{{nextLink}}">⏩</a>
    {{/if}}
</div>
</main>